%common{
    display: inline-block;
    box-sizing: border-box;
    border: none;
}
.Lnavbar-nav{
    width: 50%;
    box-sizing: border-box;
    background-color: rebeccapurple;
    position: relative;
    border: 1px solid rosybrown;
    input{
        height: 35px;
        margin: 0%;
        width: 100%;
        @extend %common;
        padding: 2%;
        color: rgb(168, 60, 60);
    }
    button{
        @extend %common;
        position: absolute;
        height: 35px;
        right: 0;
        width: 15%;
        background-color: rosybrown;
        border-radius: 0rem;
        color: white;
    }
}

.indexcon{
    h1{
        padding-left: 8%;
    }
    small{
        display: block;
        margin-top: 3%;
        padding-left: 15%;
    }
    a{
        font-size: 30px;
        @extend %common;
        font-weight: 600;
        margin-top: 5%;
        margin-left: 15%;
        color: brown;
    }
}

.col{
    margin-top: 2%;
    &:hover{
        cursor: pointer;
    }
    h3{
        border-bottom: 1px solid rgb(236, 89, 89);
        position: relative;
        left: 0%;
    }
    h6{
        font-weight: lighter;
        display: inline-block;
        margin-right: 1%;
        position: relative;
        left:  0%;
    }
    #isbn{
        position: absolute;
        left:80%;
    }
    button{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        outline: inherit;
    }
    input[type=text]
    {
        visibility: hidden;
        display: none;
    }
    a{
        color: inherit; /* blue colors for links too */
        text-decoration: inherit;
    }
}
.form-group{
    margin-top: 5%;
}
.border-bottom{
    border-bottom: 1px solid #959a9e!important;
    font-size: 20px;
}
.left-container{
    display: inline-block;
    position: relative;
    bottom: 9pc;
}
.right-container{
    display: inline-block;
    margin-left: 5%;
    width: 50%;
    input[type=number]{
        width: 30%;
    }
    button[type=submit]{
        width: 30%;
    }
}